
header {
        	margin-top: 10px;
        position: fixed;
   
   


}

.header {

background-color: white;
width: 10000px;
padding: 30px;


}

li  {
display: inline;
text-decoration: none;

}

li a {
display: inline;
margin: 0px 30px 0px 5px;
text-decoration: none;
color: slategray;
font-size: 15px;
font-weight: bolder;

}
li a:hover{
	text-decoration: none;
}

#logo{
margin-right: 300px;
}
#container{
	 margin-top: 100px;
	padding: 40px;

}
.radius{

	width: 28%;

background-color: pink;
color: hotpink;

}
p{
	display: inline;
}
#new{
	border-top: 2px solid #eeeeee;
border-bottom: 2px solid #eeeeee;
border-radius:100px;
padding: 5px;
margin: 0px auto 0px auto;
background-color: deeppink;
color: lightcyan;
}
h1{
	font-size: 10px;
	
}
#unlock{
	clear: left;
	margin-top: 20px; 
	color: slategray; 
	font-weight: bold; 
	font-size: 20px;
}
#florence{
	width: 600px;
	height: 600px;
	float: left;
	margin-top: 100px;
}
#carbon{
	margin-right: 100px;
	font-size: 20px;
	
	/*border: 1px solid red;
	border-radius: 7px;*/
	
	float: right;
	font-weight: bold;
	margin-top: 300px;
}
#instant{
	clear: both;
	float: left;
	margin-left: 20px;
	
	font-size: 20px;
	margin-top: 100px;
	font-weight: bold;
	
}
#loan{
	width: 500px;
	height: 500px;
	float: right;
	margin-top: 10px;
}
#loan2{
	width: 500px;
	height: 500px;
	float: right;
	margin-top: 10px;
	margin-bottom: 100px;
}
#investments{
	width: 500px;
	height: 500px;
	float: left;
	margin-top: 100px;
}
.investments{
	
	font-size: 20px;

	
	float: right;
	font-weight: bold;
	margin-bottom: auto;
	margin-top: 150px;
	
}
#credits{
	width: 600px;
	height: 600px;
	float: left;
	margin-top: 140px;

}
.credits{
	margin-right: 100px;
	font-size: 20px;

	
	float: right;
	font-weight: bold;
	margin-bottom: auto;
	margin-top: 140px;
	
}
.text-center{
	clear:right; 
	font-size: 30px;
	 font-weight:bold;
}
#download1{
	clear: both;
	float: left;
	margin-left: 20px;
	
	font-size: 20px;
	margin-top: 200px;
	font-weight: bold;
	
}

#footer{
	
	clear: both;
	
	padding: 30px;
	background-color: lightgray;
	width: 100%;
}
#trust{
	clear: both;
	text-align: center;
	padding: 30px;
	background-color: lightgray;
	width: 100%;
}
.text-center2{
	 margin-left: 200px;
	font-size: 30px;
	 font-weight:bold;
}
#backup{
	background-color: mediumpurple;
	text-align: center;
	padding: 30px;
	margin-top: 100px;
	color: white;
}

 @media only screen and (min-width: 768px) and (max-width: 991px) {
 	.header {

background-color: white;
width: 10000px;
padding: 30px;


}

 	li  {
display: inline;
text-decoration: none;
width: 100%;

}

li a {
display: inline;
width: 10000px;
margin: 0px 30px 0px 5px;
text-decoration: none;
color: slategray;
font-size: 15px;
font-weight: bolder;

}
    
  }

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 15%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-weight: bold
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	margin-bottom: 10px;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}